/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block .material-icons {
	font-size: inherit;
}

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html, body {
  padding: 0;
  margin: 0;
}

header, main, footer  {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer{
    padding-left: 0;
  }
}
html, body { height: 100%; }

header {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #FFF;
  margin-top: 0px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.tabs .indicator {
  height: 5px;
  background-color: #fff;

} 

.tabs .tab a:hover {
  background-color:#64b5f6;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#64b5f6 ;
} /*Background and text color when a tab is active*/


.tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:#26a69a;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  /*Custom Text Color While Active*/
  background-color: #64b5f6
  /*Custom Background Color While Active*/
}

.main, .header {
  padding: 0;
}

.useMenu{
  text-align: left;
}

.promo {
  margin: 30px 30px;
  color: #2196f3;
  font-size: 1.5rem;
  text-align: left;
  display: block
}

.row .col.s6 {
  width: 5%;
} 

.linkToPatientProfile{
  max-width: 250px;
}